body{
    margin: 0;
}

canvas, #ui-layer, #p5-canvas-container {
    touch-action: manipulation; /* 核心：禁用双击缩放，保留单击和滑动 */
    /* -webkit-user-select: none;  防止长按弹出菜单 */
    overflow: hidden;           /* 防止溢出滚动条 */
  }
  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 极其重要：防止因缩放导致的页面滚动 */
    position: fixed;  /* 强制锁定背景 */
  }
